.bg {
    background-color: #F8F8FA;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #000000;
}

.Sign {
    background-color: white;
    color: black;
    border-radius: 64px;
    border: 2px solid #000000;
    padding: 5px 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.5s;
    

}

.Sign:hover {
    background-color: #000000;
    color: white;
}

.Log {
    background: linear-gradient(90deg, #ED3838 0%, #E02A2A 100%);
    border-radius: 64px;
    color: white;
    border: 0px;
    margin-top: 5px;
    padding: 7px 35px;
    margin-left: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background: #F8F8FA;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 0 10px rgba(190, 190, 190, 0.5); 
    padding: 10px;

}
  
.logo {
    margin-bottom: 8px;
}
  
  /* Стиль навигации */
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    list-style: none;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
  
.nav-link {    /* Шире текст */
    padding: 10px;
    margin: 0 20px;
    text-decoration: none;
    color: #555555;
    transition: all 0.3s ease;
}
  
.nav-link:hover {
    color: #000000;
}

.header {
    margin-top: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    background: linear-gradient(180deg, #E12B2B 40.63%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cost {
    position: relative;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 30px;

}

.block {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 990px;
}

.elementor-column {
    position: relative;
    min-height: 1px;
    display: flex;
}

.width1 {
    width: 70%;
    height: 350px;
}

.width2 {
    width: 25%;
    height: 150px;
    margin-left: 50px;
}

.whiteb {
    background-color: white;
    border-radius: 40px;

}

.redb {
    background: linear-gradient(180deg, #EA3333 0%, #DB1111 100%);
    border-radius: 30px;
}

.textb {
    color: white;
    padding: 20px 20px 0px 20px;

}

.texth {
    color: white;
    padding: 0px 30px 10px 20px;
}

.whitet {
    padding: 40px 20px 0px 20px;
}

#myDropdown {
    
    width: 650px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    height: 49px;
    border: 2px solid #e7e7ed;
    
}

#myDropdown:active, #myDropdown:focus {
    outline: none;
  }
  
  
  /* Styles for the dropdown options */
#myDropdown option {
    background-color: #ffffff;


}

.h5 {
    padding: 40px 0px 0px 20px;
}

.width3 {
    width: 68%;
}

.width4 {
    width: 32%;
}

.km {
    padding: 40px 0px 0px 0px;
}



input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=tel], input[type=text], textarea {
    background: #F8F8FA;
    border: none;
    border-radius: 15px;
    padding: .875rem 1.9rem;
    color: #2e2e36;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    width: 90%;
}

.carimg {
    max-height: 300px;
    float: right;
    margin-top: -230px;
    margin-right: -350px;
    position: relative;

}

.price {
    position: relative;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 150px;

}

.extended-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto; /* Добавляем auto для центрирования по горизонтали */
    max-width: 1140px;
}

.extended-container-two {
    display: flex;
    margin: 20px auto; /* Добавляем auto для центрирования по горизонтали */
    max-width: 1140px;
}

/* Колонки */
.column {
    width: 23%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}

.column-two {
    width: 23%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 30px;
    
}

/* Картинка машины */
.car-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Заголовок названия авто */
.car-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Информация о времени */
.time-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Левая часть времени */
.time-left {
    text-align: left;
}

/* Правая часть времени */
.time-right {
    text-align: right;
}

/* Информация о расстоянии */
.distance-info {
    display: flex;
    justify-content: space-between;
}

/* Левая часть расстояния */
.distance-left {
    text-align: left;
}

/* Правая часть расстояния */
.distance-right {
    text-align: right;
}

/* Кнопка "Learn more" */
.learn-more {
    display: inline-block;
    background: linear-gradient(90deg, #ED3838 0%, #E02A2A 100%);
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;

}

.learn-more:hover {
    background-color: #FF5252;
}

.hr hr {
    margin-right: 0px;
}

.mockup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin-top: 200px;
}

.apple {
    position: absolute;
    height: 96px;
    margin-top: 230px;
    margin-left: 81%;
}

.android {
    position: absolute;
    height: 96px;
    margin-top: 340px;
    margin-left: 81%;
}

.bw {
    position: absolute;
    height: 70px;
    margin-top: 210px;
    margin-left: 50px;

}

.white {
    position: absolute;
    height: 40px;
    margin-top: -90px;
}

hr {
    border: none;
    margin-bottom: -150px;
    background: rgba(255, 255, 255, 0.5);
    height: 1px;
    margin-right: 65px;

}

.endblock {
    height: 400px;
    background: #000000;
}

.endblock h4 {
    color: rgba(255, 255, 255, 0.5);;
    text-align: right;
    top: 1000px;
}



.text2 {
    color: white;
    margin-left: 80px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 30px;
    

}

.endcolumn1 {
    text-align: center;
    color: white;
    margin-left: 30%;
    margin-top: -78px;

}

.call {
    position: absolute;
    height: 30px;
    margin-left: -90px;
    margin-top: -5px;
}

.email {
    position: absolute;
    height: 30px;
    margin-left: -100px;
    margin-top: -5px;
}

.endcolumn2 {
    text-align: center;
    color: white;
    margin-left: 50%;
    margin-top: -38px;

}

.endcolumn3 {
    text-align: center;
    color: white;
    margin-left: 78%;
    margin-top: -40px;

}

.inst {
    position: absolute;
    height: 40px;
    margin-left: 45px;
    margin-top: -45px;
}

.fb {
    position: absolute;
    height: 40px;
    margin-left: 97px;
    margin-top: -45px;
    border-radius: 12px;
}

.layer1 {
    padding-left: 100px;
    padding-right: 50px; 
    margin-left: -20px;
    float: left; /* Обтекание по правому краю */
    width: 50%; /* Ширина слоя */
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin-top: 150px;
}
   
.layer2 {
    width: 50%; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
    text-align: center;
    padding-top: 100px;
}

.Signend {
    background-color: white;
    color: black;
    border-radius: 64px;
    border: 2px solid #000000;
    padding: 5px 30px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: 0.5s;
    width: 173px;
    height: 56px;
    font-size: 24px;
    margin-bottom: 5%;
}

.Signend:hover {
    background-color: #000000;
    color: white;
    border: 2px solid white;
}

.Logend {
    background: linear-gradient(90deg, #ED3838 0%, #E02A2A 100%);
    border-radius: 64px;
    color: white;
    border: 0px;
    margin-top: 5px;
    padding: 7px 40px;
    margin-left: 10px;
    width: 173px;
    height: 56px;
    font-size: 24px;
    font-weight: 400;
    margin-right: 60px;
    
}

